*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: lightblue;
}

section{
    margin: 30px 0;
    background-color: lightblue;
}

#flexbox {
    display: flex;

    justify-content: center;
width: 100%;
    gap: 40px;
    background-color: lightblue;
}

.card {
    width: 350px;
    height: 500px;
    background-color: white;
    /* background-color: black; */
    border-radius: 10px;
    overflow: hidden;
}

.img {
    height: 250px;
    position: relative;
}

img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.inner_items {
    padding: 15px 20px;
}

.info h1{
    margin-bottom: 5px;
}

.price {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.price h1{
    color: orangered;
    margin-bottom: 10px;
}

.img::after {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
    top: 0;
    left: 0;
    transition: .6s ease-in-out;
}

.img:hover::after {
    opacity: 0.4;
}

.img button {
    position: absolute;
    left: 107px;
    top: 0;
    background-color: orangered;
    border-color: transparent;
    color: white;
    width: 140px;
    height: 50px;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 100;
    cursor: pointer;
}

.img:hover button {
    opacity: 1;
    transform: translateY(103px);
}

.price button {
    display: flex;
    gap: 3px;
    width: 100px;
    height: 20px;
    background-color: white;
    border-color: transparent;
}

.price button i{
    color: yellow;
    font-size: 15px;
}